doc/src/docbkx/openstack-api-site/src/wadls/os-console-output/src/os-console-output.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v1.1/">
            <resource id="Servers" path="servers">
                <resource path="{server_id}">
                    <param name="server_id" style="template" type="csapi:UUID"><doc><p xmlns="http://www.w3.org/1999/xhtml">The UUID for the server of interest to you.</p></doc></param>
                    <resource path="action">
                        <method href="#getConsoleOutput"/>
                    </resource>
                </resource>
           </resource>
       </resource>
    </resources>

    <method name="GET" id="getConsoleOutput">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" title="List Volumes">
            <p xmlns="http://www.w3.org/1999/xhtml">Fetch the last lines of an instance's console output.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_list_simple.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_list_simple.json" />
                </doc>
            </representation>
        </response>
    </method>

</application>
